@model Web.Models.ViewModels.SolicitudPrestamo

@{
    ViewBag.Title = "Solicitud Prestamo";
}

<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-body">
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <h3 class="box-title m-b-0">Solicitud Préstamo</h3>
                <p class="text-muted m-b-30 font-13"> <b>Analista:</b> @ViewBag.NombreAnalistaFinanciero </p>

                @using (Html.BeginForm("SolicitarDatos", "Prestamo", FormMethod.Post, new { @class = "form-horizontal form-material" }))
                {
                <div class="demo-radio-button">
                    @foreach (var tipoPrestamo in Model.TiposPrestamo)
                    {
                        @Html.RadioButtonFor(model => model.TipoPrestamo, tipoPrestamo, new { @id = tipoPrestamo})
                        @Html.Label(tipoPrestamo)
                    }
                </div>
                    <div class="form-group m-b-0">
                        <div class="offset-sm-3 col-sm-9">
                            <button type="submit" class="btn btn-info waves-effect waves-light m-t-10">Continuar</button>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>